h1, body{
  background-color: black;
  color: whitesmoke;
  text-align: center;
  margin-top: 85px;
  margin-left: 85px;
}

h3, h2, p{
  text-align: center;
  margin-left: 85px;
}

li {
  text-align: center;
  margin-left: 85px;
  
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

.footer {
  position: fixed;
  bottom: 1%;
  width: 100%;
  text-decoration: none;
  text-align: center;
}

.navigation a {
  display: inline-block;
  color: rgb(58, 84, 141);
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 5px;
}

.socials-extra a {
  text-decoration: none;
}

.footer a {
	text-decoration: none;
}