@font-face {
  font-family: "Roboto Mono";
  src: local("Roboto Mono"), url("../fonts/RobotoMono-VariableFont_wght.ttf") format("truetype");
}

body {
  background-color: black;
  color: white;
  font-family: "Roboto Mono";
  align-content: center;
  margin-top: 20%;
}