@font-face {
  font-family: "Roboto Mono";
  src: local("Roboto Mono"), url("../fonts/RobotoMono-VariableFont_wght.ttf") format("truetype");
}

body {
  background-color: black;
  color: white;
  font-family: "Roboto Mono";
  align-content: center;
  margin-top: 20%;
}
a {
  text-decoration: none;
  color: wheat;
  border: 2px;
  border-style: dotted;
  margin: 3px;
}
nav li {
  display: flex;
  margin: 5px;
}
nav {
  display: flex;
}

.socials {

}

.ring a {
  border-style: none;
}