h1, body {
  background-color: pink;
  color: rgb(82, 9, 48);
  text-align: center;
}

.footer {
  position: fixed;
  bottom: 1%;
  width: 100%;
}

.navigation a {
  display: inline-block;
  color: rgb(58, 84, 141);
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 5px;
}

.latestcontent {
  display: inline;
}